.player-choice--not-selected {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: min(70%, var(--triangle-size));
}

.player-choice--selected {
  display: flex;
  flex-direction: column;
  width: 48%;
  min-height: 250px;
  justify-content: center;
}
