.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.modal-visible {
  display: block;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  transition: all 0.3s;
  padding: 1rem;
}

.title {
  color: var(--dark-text);
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
  margin-top: 75px;
}

.modal-hide {
  display: none;
}