.scoreboard {
  grid-area: scoreboard;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: var(--border-radius);
  background-color: white;
}

.scoreboard-title {
  color: var(--score-text);
  text-transform: uppercase;
  font-size: var(--header-xs);
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 5px;
}

.scoreboard-score {
  color: var(--dark-text);
  font-size: 40px;
  font-weight: 700;
}